// drawer nav
.q-drawer {
  .q-item {
    opacity: 0.6;
    &.q-router-link--exact-active {
      opacity: 1;
    }
  }
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url(./fonts/JetBrainsMono-Regular.woff2);
}

// declare a class which applies it
.mono-font {
  font-family: 'JetBrains Mono';
}
